
.background {
    -fx-background-image: url("CoarseGrid.png");
    -fx-background-repeat: repeat;
	-fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}
.plus{
 -fx-background-image: url("plus.png");
}

.top-segment {
	-fx-background-color: rgba(255, 255, 255, 0.05);
	-fx-border-color: 
		transparent transparent rgb(255, 255, 255, 0.08) transparent,
		transparent transparent rgb(0, 0, 0, 0.5) transparent;
	-fx-border-width: 1, 1.5;
	-fx-border-insets: -1, 0; 
}
